<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <!--<li <% if(title == '信息登记') {%>class="active"<% } %> ><a href="/register?patientid=<%=patientid%>">信息登记表</a></li>-->
        <li <% if(title == '综合病历记录表') {%>class="active"<% } %>><a href="/medical_record?patientid=<%=patientid%>">综合病历记录表</a></li>
    </ul>
    <!--<ul class="nav nav-sidebar">-->
        <!--<li <% if(title == '眠因子3P分析') {%>class="active"<% } %>><a href="/tables?table_name=眠因子3P分析&patientid=<%=patientid%>">眠因子3P分析</a></li>-->
        <!--<li <% if(title == '睡眠困扰(ISI)') {%>class="active"<% } %>><a href="/tables?table_name=睡眠困扰(ISI)&patientid=<%=patientid%>">睡眠困扰(ISI)</a></li>-->
        <!--<li <% if(title == '睡眠身心状态(PSAS)') {%>class="active"<% } %>><a href="/tables?table_name=睡眠身心状态(PSAS)&patientid=<%=patientid%>">睡眠身心状态(PSAS)</a></li>-->
        <!--<li <% if(title == '睡眠习惯量表(SHPS)') {%>class="active"<% } %>><a href="/tables?table_name=睡眠习惯量表(SHPS)&patientid=<%=patientid%>">睡眠习惯量表(SHPS)</a></li>-->
        <!--<li <% if(title == '睡眠信念与态度量表(DBAS)') {%>class="active"<% } %>><a href="/tables?table_name=睡眠信念与态度量表(DBAS)&patientid=<%=patientid%>">睡眠信念与态度量表(DBAS)</a></li>-->
        <!--<li <% if(title == '思睡量表(ESS爱波沃斯)') {%>class="active"<% } %>><a href="/tables?table_name=思睡量表(ESS爱波沃斯)&patientid=<%=patientid%>">思睡量表(ESS爱波沃斯)</a></li>-->
    <!--</ul>-->
    <!--<ul class="nav nav-sidebar">-->
        <!--<li><a href="">懂你计算数据</a></li>-->
    <!--</ul>-->

    <ul class="nav nav-sidebar">
        <li <% if(title == '历史记录') {%>class="active"<% }%>><a href="/history?patientid=<%=patientid%>">历史记录</a></li>
    </ul>
</div>